# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Data / outputs (keep raw data but ignore large outputs if any)
data/*.parquet
charts/
*.sqlite3

# OS
.DS_Store
Thumbs.db
